<launch>
  
  <!-- 
    start position
    <rosparam param="start_position">[0.0, 2.0, 0.0]</rosparam>
  -->  


  <!-- include file="$(find iris_simulator_pk)/launch/iris_mpca.launch">
  </include -->

  <node pkg="iris_simulator_pk"
    type="iris_simulator_mpc"
    name="iris_simulator_mpc"
    output="screen">
    <param name="rate/odom" value="100.0"/>
    <remap from="~odom_raw" to="iris/odom"/>
    <remap from="~imu" to="iris_imu"/>
    <remap from="~mpc_cmd" to="iris/mpc_cmd"/>
  </node>

   <node pkg="mesh_visualization"
    type="mesh_visualization"
    name="iris_mesh_visualization"
    output="screen">
    <param name="mesh_resource" value="package://mesh_visualization/meshes/IRIS.STL"/>
    <remap from="~odom_raw" to="iris/odom"/>
    <remap from="~target" to="iris/target"/>
    <remap from="~robot" to="iris_robot"/>
    <remap from="Body" to="iris_body"/>
  </node>

  <node pkg="pos_cmd_pk"
    type="pos_cmd_node"
    name="pos_cmd_node"
    output="screen"
    ns="iris">
    <remap from="odom_raw" to="odom"/>
    <!-- remap from="position_cmd" to="iris_position_cmd"/ -->
    <remap from="target" to="target"/>
    <remap from="takeoff" to="takeoff"/>
    <remap from="land" to="land"/>
    <remap from="pos" to="pos"/>
  </node>

  <node pkg="keyboard"
    type="keyboard"
    name="keyboard"
    output="screen">
  </node>

  <node pkg="joystick_pk"
    type="my_joystick.py"
    name="my_joynode"
    output="screen">
  </node>

  <node pkg="mpc_pkg"
    type="mpc_control"
    name="mpc_control"
    output="screen"
    ns="iris">
  </node>

  <node pkg="joy"
    type="joy_node"
    name="joy_node">
  </node>

  <node pkg="joystick_pk"
    type="joystick_node"
    name="joystick_node"
    output="screen">
    <remap from="takeoff" to="iris/takeoff"/>
    <remap from="land" to="iris/land"/>
    <remap from="pos" to="iris/pos"/>
  </node>
<!--
  <node pkg="rviz"
    type="rviz"
    name="rviz"
    args="-d $(find iris_simulator_pk)/launch/rviz_config3.rviz"/>
-->
</launch>
