<launch>
  
  <!-- 
    start position
    <rosparam param="start_position">[0.0, 2.0, 0.0]</rosparam>
  -->  


  <include file="$(find iris_simulator_pk)/launch/iris.launch">
  </include >

  <node pkg="pos_cmd_pk"
    type="pos_cmd_node"
    name="pos_cmd_node"
    output="screen">
    <remap from="odom" to="iris_odom"/>
    <remap from="position_cmd" to="iris_position_cmd"/>
    <remap from="target" to="iris_target"/>
    <remap from="takeoff" to="takeoff"/>
    <remap from="land" to="land"/>
    <remap from="pos" to="pos"/>
  </node>

  <node pkg="keyboard"
    type="keyboard"
    name="keyboard"
    output="screen">
  </node>

  <node pkg="joystick_pk"
    type="my_joystick.py"
    name="my_joynode"
    output="screen">
  </node>

  <!--node pkg="enrcio_mpc2_pk"
    type="mpc_control2"
    name="mpc_control2"
    output="screen">
    <remap from="position_cmd" to ="iris_position_cmd"/>
  </node -->

  <node pkg="attack_pk"
    type="attack_node"
    name="attack_node"
    output = "screen">
    <param name="~AttackFlag" value="false"/>
    <param name="~NoiseFlag" value="false"/>
    <param name="~AttackType" value="1"/>
    <remap from="odom_raw" to="iris_odom_raw"/>
    <remap from="odom" to="iris_odom"/>
    <remap from="imu" to="iris_imu"/>
    <remap from="sensor1" to="iris_sensor1"/>
    <remap from="sensor2" to="iris_sensor2"/>
    <remap from="sensor3" to="iris_sensor3"/>
  </node>

  <node pkg="joy"
    type="joy_node"
    name="joy_node">
  </node>

  <node pkg="joystick_pk"
    type="joystick_node"
    name="joystick_node"
    output="screen">
    <remap from="takeoff" to="takeoff"/>
    <remap from="land" to="land"/>
    <remap from="pos" to="pos"/>
  </node>
<!--
  <node pkg="rviz"
    type="rviz"
    name="rviz"
    args="-d $(find iris_simulator_pk)/launch/rviz_config3.rviz"/>
-->
</launch>
